.offcanvas{
    background: linear-gradient(180deg, #030304 0%, #21262D 100%);

    ul {
        padding-left: 20px;
        li{
            margin-bottom: 10px;
            a{
                font-size: 16px;
            }
        }
    }
     .btn-close {
        margin-right: 0;
    }

}