.btn {
  position: relative;
  overflow: hidden;

  font-weight: 700;
  font-family: $secondary-font;
  &.footerBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 14px;
    padding: 3px 13px;
    @include min(768) {
      padding: 6px 20px;
      margin-bottom: 16px;
      border-radius: 7px;
    }
    @include min(992) {
      padding: 4px 15px;
      margin-bottom: 18px;
    }
    @include min(1200) {
      border-radius: 12px;
      padding: 8px 18.99px 8px 22px;
      margin-bottom: 20px;
    }
    @include min(1360) {
      padding: 10px 20.99px 10px 25px;
      margin-bottom: 22px;
    }
    @include min(1440) {
      padding: 12px 24.99px 12px 29px;

      margin-bottom: 24px;
    }
    @include min(1900) {
      padding: 16px 34.99px 16px 39px;
    }
  }
  &.bgTheme{
    overflow: visible;
    transition:  0.5s ease all ;
    &::before,&::after{
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      @extend .position;
      height: 100%;
      left: 0;
      transition:  0.5s ease all ;
    }
    &::before{
      width: 100%;
      background: linear-gradient(90deg, #3412E0 0%, #7928E5 47.91%, #07B4CC 100%);
      z-index: -1;
      border: 1px solid white;
      border-radius: 8px;
      
    }
    &::after{
      border: 1px solid transparent;
      width: 0%;
      z-index: -1;
      background: linear-gradient(90deg, #3412E0 100%, #7928E5 100%, #07B4CC 0%);
      border-radius: 8px;

    }
    &:hover{
      transition:  0.5s ease all ;

      &::after{
        transition:  0.5s ease all ;

        width: 100%;
      }
    }
  }
  &.bgWhite{
    color: #000;
    overflow: hidden;
    &::before{
      z-index: 0;
      border-radius: 8px;
      @extend .position;
      height: 100%;
      right: 0;
      transition:  0.5s ease all ;

      background-color: $white;
      width: 100%;
      z-index: -1;
    }
    &::after{
      @extend .position;
      border-radius: 8px;

      width: 100%;
      height: 100%;
      z-index: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid white;
  
    }
    &:hover{
      color: $white;
      &::before{
        transition:  0.5s ease all ;

        width: 0%;
      }
      path {
        stroke: #fff;
      }
    }
   
  }
  &.planBtn{
    // overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid #fff;
    border-radius: 8px;
    height: 40px;
    color: #979A9C;
    @include min(768){
      height: 44px;
    }
    @include min(1200){
      height: 48px;
    }
    
  }
  &.planBtnIcon{
    gap: 10px;
  }
  &.planBtnBorder {
    &::after{
      @extend .position;
      border-radius: 8px;

      width: 100%;
      height: 100%;
      z-index: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid white;
  
    }
    &:hover{
      &::after{
        border: 1px solid white;

      }
      color: #fff;
    }
    &.active{
      background-color: #fff;
      color: #000;
    }
  }
  &.themeBtn {
    svg{
      @include max(575){
        width: 17px;
        height: 17px;
      }
    }
    &.border-btn {
      &::before{
        @extend .position;
        height: 100%;
        left: 0;
        transition:  0.5s ease all ;
        width: 0%;
        z-index: -1;
        background-color: #fff;
      }

      &:hover {
        transition:0.5s ease all ;
        color: #000;
        &::before{
          width: 100%;
          transition:0.5s ease all ;
        }
        path {
          stroke: #000;
        }
      }
    }
    &.bg-white {
      color: #000;
      gap: 5px;
      @include min(768){
        gap: 10px;

      }
      path {
        stroke: #000;
      }
      &:hover {
        color: $white;
        // img {
        //   filter: invert(1);
        // }
        path {
          stroke: #fff;
        }
      }
      &::before{
        z-index: 0;
        @extend .position;
        height: 100%;
        right: 0;
        transition:  0.5s ease all ;
        background-color: $white;
        width: 100%;
        z-index: -2;
      }
     
      &:hover{
        color: $white;
        &::before{
          transition:  0.5s ease all ;
  
          width: 0%;
        }
        path {
          stroke: #fff;
        }
      }
    }
    display: flex;
    gap: 10px;
    height: fit-content;
    padding: 3px 13px;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    @include min(768) {
      padding: 6px 20px;
    }
    @include min(992) {
      padding: 4px 15px;
    }
    @include min(1200) {
      padding: 8px 18.99px 8px 22px;
    }
    @include min(1360) {
      padding: 10px 20.99px 10px 25px;
    }
    @include min(1440) {
      padding: 12px 24.99px 12px 29px;
    }
    @include min(1900) {
      padding: 16px 34.99px 16px 39px;
    }
    //   @include min(1600) {
    //     padding: 6px 22px;
    //   }
    //   @include min(1900) {
    //     padding: 6px 25px;
    //   }

    svg{
      @include min(1900){
        width: 26px;
        height: 26px;
      }
    }
  }
  &.themeBtnS {
    transition: 0.5s ease all;
    &:hover {
      transition: 0.5s ease all;
    }
  }
  &.themeBtnp {
    background-color: $primaryColor;
    position: relative;

    svg {
      transition: 0.5s ease all;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $secondaryColor;
      width: 33px;
      svg {
        @include max(575) {
          width: 6px;
          height: auto;
        }
      }
      @include min(768) {
        width: 45px;
      }
      @include min(1200) {
        width: 55px;
      }
      @include min(1900) {
        width: 70px;
      }
    }
    &:hover {
      background-color: $secondaryColor;
      transition: 0.5s ease all;
      svg {
        transition: 0.5s ease all;
        transform: translateX(5px);
      }
    }
  }
  &.blogBtn{
    z-index: 1;
    &::before{
      @extend .position;
      width: 0;
      background-color: $white;
      height: 100%;
      left: 0;
      transition: 0.5s ease all;

    }
    &:hover {
      color: #000;
      &::before{
        transition: 0.5s ease all;
        width: 100%;
        z-index: -1;
      }
      path {
        stroke: #090C11;
      }
    }
  }
}
