@keyframes pulse {
  0% {
      transform: scaleX(1);
  }
  100% {
      transform: scale3d(1.15, 1.15, 1.15);
  }
  // to {
  //     -webkit-transform: scaleX(1);
  //     transform: scaleX(1);
  // }
}

@keyframes gradent {
  0%{
    background: linear-gradient(90deg, #3412E0 0%, #7928E5 47.91%, #07B4CC 100%);
  }
  25%{
    background: linear-gradient(90deg, #3412E0 100%, #7928E5 47.91%, #07B4CC 0%);
  }
  50%{
    background: linear-gradient(90deg, #3412E0 0%, #7928E5 100%, #07B4CC 47.9%);
  }
  to{
    background: linear-gradient(90deg, #3412E0 0%, #7928E5 47.91%, #07B4CC 100%);

  }
}
@keyframes rightLeft {
  0% {
     transform: translateX(0px);
  }
  50% {
      transform: translateX(10px);

  }
  to {
      transform: translateX(0px);
     
     
  }
}
@keyframes down {
  0% {
     transform: translateY(0px);
  }
  50% {
      transform: translateY(3px);

  }
  to {
      transform: translateY(0px);
     
     
  }
}
@keyframes rotates {
  0% {
      transform: rotateY(0deg);

  }
  50% {
      transform: rotateY(180deg);

  }
  to {
      transform: rotateY(0deg);

     
     
  }
}

@keyframes downSpin {
  0% {
     transform: translateY(0%);

  }
  50% {
    transform: translateY(10%);


  }
  to {
    transform: translateY(0%);

  }
}

@keyframes gradientBorder {
  0% {
    border-image-source: linear-gradient(45deg, #3412E0, #7928E5, #07B4CC);
  }
  30% {
    border-image-source: linear-gradient(45deg, #07B4CC, #3412E0, #7928E5);
  }
  60% {
    border-image-source: linear-gradient(45deg, #7928E5, #07B4CC, #3412E0);
  }
  to {
    border-image-source: linear-gradient(45deg, #3412E0, #7928E5, #07B4CC);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes animateImage {
  0% {
    filter: brightness(100%) contrast(100%) saturate(100%);
  }
  50% {
    filter: brightness(110%) contrast(150%) saturate(160%);
  }
  100% {
    filter: brightness(100%) contrast(100%) saturate(100%);

  }
}

@keyframes colorShift {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}